
.p-3 {
   height: 70vh;
   
}
.cont1{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: rgb(245, 242, 235);
}
.img-cena {
    border-radius: 60px;
    box-shadow: rgb(71, 71, 71) 2px 3px 1px 1px;
}
