@charset "uft-8"; 
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0%;
}

nav ul {
    display:flex;
    flex-direction: row;
    gap:15%;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color:#fa8553;
    font-family: lato;
    font-weight: bold;
    border-radius: 2px;
    padding: 7px 14px;
}

nav li :hover{
	background-color:rgb(253, 253, 253);
    box-shadow: rgb(223, 119, 0) 2px 3px 1px 1px;
    
}



#navbar{
    height: 9vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    padding: 20px;
    border-bottom: rgb(255, 187, 0) solid;
}

.img-logo{
   justify-self:center;
}



